@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 80%;
    width: 80%;
    place-items: center;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

::selection {
    color: #fff;
    background: #1cc7d0;
}

.wrapper {
    height: 600px;
    width: 440px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 20px;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.wrapper .back-face {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}

.wrapper .back-face img {
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .title {
    font-size: 40px;
    font-weight: 1000;
}

.back-face .info h4 {
    font-size: 20px;
    font-weight: 1000;
}

.back-face ul {
    display: flex;
}

.back-face ul a {
    position: relative;
    height: 60px;
    width: 200px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 50%;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.back-face ul a:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .1s ease-in-out;
    animation: animate 10s linear infinite;
}

.back-face ul a:hover:before {
    opacity: 1;
}

.back-face ul a:hover:active {
    background: none;
}

.back-face ul a:hover:active:before {
    filter: blur(2px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.back-face ul a {
    display: block;
    height: 80px;
    width: 80px;
    color: #fff;
    text-align: center;
    margin: 0 20px;
    line-height: 76px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: linear-gradient(-375deg, #1cc7d0, #2ede98);
    transition: all 0.5s ease;
}

.back-face ul a:hover {
    color: #292626;
    border-color: #a7a8a8;
    background: linear-gradient(375deg, transparent, transparent);
}

footer {
    text-align: center;
    color: #000000
}
